<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c12c919a-91e4-4438-87da-d95dfb2e8ef2/resourceGroups/DefaultResourceGroup/providers/Microsoft.Web/sites/CosmosDBCRUDOpers</ResourceId>
    <ResourceGroup>DefaultResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/c12c919a-91e4-4438-87da-d95dfb2e8ef2/resourceGroups/DefaultResourceGroup/providers/Microsoft.ApiManagement/service/CosmosDBAPI1234/apis/CosmosDB</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cosmosdbcrudopers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e9764247-139d-4579-8e35-99c7c987f0d8</ProjectGuid>
    <MSDeployServiceURL>cosmosdbcrudopers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CosmosDBCRUDOpers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CosmosDBCRUDOpers</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>